<web-app>

<servlet>
<servlet-name>SaveFile</servlet-name>
<servlet-class>SaveFile</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>SaveFile</servlet-name>
<url-pattern>/SaveFile</url-pattern>
</servlet-mapping>

 <servlet>
<servlet-name>CompileFile</servlet-name>
<servlet-class>CompileFile</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>CompileFile</servlet-name>
<url-pattern>/CompileFile</url-pattern>
</servlet-mapping>

 <servlet>
<servlet-name>SaveAgain</servlet-name>
<servlet-class>SaveAgain</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>SaveAgain</servlet-name>
<url-pattern>/SaveAgain</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>API</servlet-name>
<servlet-class>API</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>API</servlet-name>
<url-pattern>/API</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>RunFile</servlet-name>
<servlet-class>RunFile</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>RunFile</servlet-name>
<url-pattern>/RunFile</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>GenerateServlet</servlet-name>
<servlet-class>GenerateServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>GenerateServlet</servlet-name>
<url-pattern>/GenerateServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>EncServlet</servlet-name>
<servlet-class>EncServlet</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>EncServlet</servlet-name>
<url-pattern>/EncServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReadWrite</servlet-name>
<servlet-class>ReadWrite</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>ReadWrite</servlet-name>
<url-pattern>/ReadWrite</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DecResponse</servlet-name>
<servlet-class>DecResponse</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>DecResponse</servlet-name>
<url-pattern>/DecResponse</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>decryptresult</servlet-name>
<servlet-class>decryptresult</servlet-class>
</servlet>


<servlet-mapping>
<servlet-name>decryptresult</servlet-name>
<url-pattern>/decryptresult</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>home.jsp</welcome-file>
</welcome-file-list>

</web-app>
